<!-- navbar.ejs -->
<header class="navbar">
    <div class="logo">Blog Logo</div>
    <nav>
        <ul class="nav-links">
            <li><a href="/" class="nav-link">Home</a></li>
            <% if (typeof user !== 'undefined' && user) { %>
                <li><a href="/createblog" class="nav-link">Create</a></li>
                <li><a href="/contact" class="nav-link">Contact</a></li>
                <li><a href="/logout" class="nav-link">Logout</a></li>
                <li class="user-info">User: <%= user.username %></li>
            <% } else { %>
                <li><a href="/register" class="nav-link">Register</a></li>
                <li><a href="/login" class="nav-link">Login</a></li>
            <% } %>
        </ul>
    </nav>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        
        .navbar {
            background-color: #333;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }
        
        .logo {
            font-size: 1.5rem;
        }
        
        .nav-links {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }
        
        .nav-links li {
            margin-left: 1rem;
        }
        
        .nav-links li a {
            color: #fff;
            text-decoration: none;
        }
        
        .nav-links li a:hover {
            text-decoration: underline;
        }
        
        .user-info {
            color: #fff;
        }
    </style>
</header>
